#######
# SEE THE FOLLOWING URL FOR DOCUMENTATION PERTAINING TO THIS KICKSTART SCRIPT
# https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/7/html/Installation_Guide/chap-kickstart-installations.html
#######

#############################
# General/System Information
#############################
#version=RHEL7
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# DO NOT run the Setup Agent on first boot. Also accept End User License Agreement
firstboot --disable
eula --agreed
# Reboot system after successful installation
reboot
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8
# System timezone
timezone America/New_York --isUtc

#####################
# Network information
#####################
network  --bootproto=dhcp --device=eno16777736 --onboot=off --ipv6=auto --hostname=localhost.localdomain

###############
# Users/Groups
###############
# System authorization information
auth --enableshadow --passalgo=sha512
# Root password (is "changeme")
rootpw --iscrypted $6$/aJy0YKsAPcmYTrL$GIdDaYfGLzb3vwU0LQq0PQQwZpKUtGT64lhEVT8eSXh8oPsNiB.5U6aZoNnGNlOng.iyBnzaRZMWPgcQt.toi0
# Create unprivileged user with default password "test"
user --name=test --password=$6$fqdfuOg6HRaLFkcY$DnX2d3GooRdZjXImP99/y/uRDkpy.OmYhCqbpc2lG39A3tTzMps5VEuL55Ee2bCSlGvNhOx.Z0tu/0Zsk13z01 --iscrypted --gecos="unprivileged test user"

#################
# Disk/Partition
#################
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Clears all existing partitions!
clearpart --all --initlabel
# Disk partitioning information. Sizes are in MB. To encrypt the logical volume, simply
# uncomment the relevant parameters on the next line.
part pv.124 --fstype="lvmpv" --ondisk=sda --size=1 --grow #--encrypted --passphrase=changeme
part /boot --fstype="xfs" --ondisk=sda --size=500
volgroup vg0 --pesize=4096 pv.124
# Note: XFS logical volumes can be extended but cannot be shrunk. If you need the
# option to shrink volumes as well as extened logical volumes, use EXT4 formatting.
logvol / --fstype="xfs" --percent=35 --name=root --vgname=vg0
logvol /home --fstype="xfs" --percent=10 --name=home --vgname=vg0
logvol /var --fstype="xfs" --percent=20 --name=var --vgname=vg0
logvol /tmp --fstype="xfs" --percent=20 --name=tmp --vgname=vg0
logvol swap --fstype="swap" --size=2048 --name=swap --vgname=vg0

###############
# Repositories
###############
# The --install switch keeps the epel repository available in /etc/yum.repos.d, even after kickstart.
# You can verify this with "yum repolist enabled" after the installation.
repo --name=epel --install --baseurl=https://mirror.umd.edu/fedora/epel/7/x86_64/

%packages
# Install the EPEL Repository
epel-release
# Minimal Install
@core
kexec-tools
vim
bash-completion
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'
%end

%post
###################
# Update the System
###################
yum -y update

##############
# Add SSH Keys
##############
mkdir -p ~root/.ssh
chmod 700 ~user/.ssh
echo -e "---- BEGIN SSH2 PUBLIC KEY ----
Comment: "tpulliam@home"
AAAAB3NzaC1yc2EAAAABJQAAAQEAssEnFJAJkRtM+Q9dsRZoql/t1tW+YbNvqZRj
c0tBSjNwgcFVjQkLkmtYApJuo7WZN5Jv2Cst18QXSOFlEIGylc3SDB44rWWXjMct
ExTjQoRF53jEnrfagu2f0XzkWOVHDXWih6dQ3lEuhu23FczKU5s9sXN4HgaHO1jV
Vc8y1Kq00AHTxqL4xGMWIpCW0w+UQyCvz/+3yBkxPOeMhpZnmIESFTLTzgJf8qjw
n3SwTQ2wB6I03OPP3FHSW+XW+RqCjy15WkNVJqV1y/0pgNGEfB38mII4MzSImzP8
epvDLkWtZnhxdglTjejjrkSn82JS4S+E6BdIKwLaRIedQcRTXw==
---- END SSH2 PUBLIC KEY ----" >> ~root/.ssh/authorized_keys
chmod 600 ~root/.ssh/authorized_keys
chown root:root -R ~user/.ssh

%end
